header {
  width: 100%;
  /* background: var(--secondary-color); */
  position: sticky;
  top: 0;
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 0 0 rgba(246, 152, 45, .8);
  background: rgba(255, 255, 255, .05);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 var(--margin-h);
}

header nav #logo {
  display: flex;
  align-items: center;
}

header nav #logo span {
  font-weight: bold;
  font-family: serif;
  color: var(--details-color);
  font-size: 1.2rem;
  margin-left: .4rem;
}

header nav #logo img {
  width: 1rem;
  height: 1rem;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header li a,
header li button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: .7rem var(--margin-h);
  font-size: .75rem;
  font-family: sans-serif;
  color: #aaaab0;
  transition: .3s ease;
  background: transparent;
  height: auto;
}

header li a:hover,
header li button:hover {
  color: #fff;
  background: #4a4a50;
}

header li button {
  padding: .3rem;
  border-radius: 50px;
  margin-left: .5rem;
}

header li img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .3rem;
  border-radius: 50px;
}