.c-dashboard {
  width: 100%;
}

.c-dashboard__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-dashboard h2 {
  margin-top: 1.5rem;
  font-size: .9rem;
}

.c-dashboard h2 span {
  color: var(--details-color);
}