.c-thoughts__form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem var(--margin-h);
}

.c-thoughts__form__content {
  flex: 1;
  margin-left: .5rem;
  padding: .4rem .5rem;
  font-size: .6rem;
  border-radius: 50px;
  background: #121212;
  color: #dadae0;
  transition: .2s linear;
}

.c-thoughts__form__content::placeholder {
  color: #8a8a90;
}

.c-thoughts__form__content:focus {
  background: #222222;
  color: #dadae0;
}

.c-thoughts__form button {
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
  padding: 0 .3rem;
  border: 2px solid var(--details-color);
  background: var(--details-color);
  color: var(--secondary-color);
  font-weight: bold;
}