.c-home__thoughts {
  width: 100%;
}

/* TITLE */
.c-home__thoughts__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-home__thoughts__title span {
  color: var(--details-color);
}

/* TITLE SEARCH */
.c-home__thoughts__search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .8rem;
  margin-top: 1rem;
  width: 100%;
}

.c-home__thoughts__search input[type='search'] {
  flex: 1;
  background: transparent;
  border-radius: .3rem;
  color: var(--details-color);
  font-size: .7rem;
  border-bottom: 2px solid var(--details-color);
  padding: .4rem .5rem;
  max-width: 100%;
}

.c-home__thoughts__search input[type='search']::placeholder {
  color: #7a7a80;
}


/* TITLE ORDER */
.c-home__thoughts__order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.c-home__thoughts__order span {
  font-size: .7rem;
  color: #efefff;
}

.c-home__thoughts__order button {
  background: transparent;
}

.c-home__thoughts__order i,
.c-home__thoughts__order a {
  color: #efefff;
  font-size: .7rem;
}

.c-home__thoughts__order i:hover,
.c-home__thoughts__order a:hover {
  color: var(--details-color);
}