
.c-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.c-form__input {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.c-form__input label {
  font-size: .7rem;
  color: #babac0;
}

.c-form__input input,
.c-form__input textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: .3rem;
  color: #cfcfdf;
  border: 2px solid var(--details-color);
  padding: .4rem .5rem;
}

.c-form__input input:focus,
.c-form__input textarea:focus {
  background: var(--details-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.c-form__input textarea:focus::placeholder {
  color: #5a5a60;
}

.c-form__input textarea {
  width: 100%;
  height: 4rem;
  resize: none;
}

.c-form p {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .7rem;
  color: #aaaab0;
}

.c-form p a {
  color: var(--details-color);
}