.c-thoughts__card h2 {
  padding: .8rem .8rem 0rem;
  font-size: .9rem;
  font-style: italic;
  font-weight: bold;
}

.c-thoughts__card h3 {
  padding: .8rem;
  font-size: .6rem;
}

.c-thoughts__card h3 span {
  color: var(--details-color);
  text-transform: capitalize;
}